<div class="sds-card sds-card--vertical">
    <div class="sds-card__title--vertical">
        <i class="sds fa-user fa-2x"></i>
    </div>
    <div class="sds-card__body">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <h3 class="sds-card--subtitle">
                    <a class="usa-link">{{model.givenName}}{{' '}}{{model.familyName}}</a>
                </h3>
                <div *ngIf="model.emailAddress">
                    <p>Email Address: <b>{{model.emailAddress}}</b></p>
                </div>
                <div *ngIf="model.department">
                    <p>Department: <b>{{model.department}}</b></p>
                </div>
                <div *ngIf="model.role">
                    <p>Role: <b>{{model.role}}</b></p>
                </div>
                <div *ngIf="model.domain">
                    <p>Domain: <b>{{model.domain}}</b></p>
                </div>

            </div>
        </div>
    </div>
</div>